<div class="container">
<h1>Olá, David.</h1>


<%= image_tag("bd.jpg", size: "1080x600", alt: "Uma belíssima praia!") %>

<%= link_to "Voltar a postagens", posts_path, class:"voltar_link"%>
<br/>

 </div><!-- container -->
