/* por David Berriel Leonardo */
.img{
    background-image: url(../images/bd.jpg);
    width:100%;
    border-radius: 20px;
}
.link-danger{
    width:25%;
    height: 10vh;
    font-size: 2rem;
    background-color: rgb(250, 234, 13);
    border-radius: 15px;

}

.footer{
    background-color: #575454;
}